<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style >
h1
{
  text-align:center;
  

}
fieldset
{
  margin-left:38%
 
}


</style>
</head>
<body>
<h1 style="color:blue;">ADDING LESSON</h1>

 <fieldset style="width:270px;">
 <form action="/lesson" method="post">
  <label>Course ID</label><br>
  <input type="number" name="course id"><br>
   <label>Lesson ID</label><br>
  <input type="number" name="lesson id"><br>
   <label>Lesson Name</label><br>
  <input type="text" name="lesson name"><br>
   <label>Lesson Topics</label><br>
  <input type="text" name="lesson topics"><br>
   <label>Video Link</label><br>
  <input type="url" name="link"><br><br>
  <input type="submit" value="ADD LESSON">
 
 
 
 
 </form>
 </fieldset>
</body>
</html>