<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
 <h1>CREATE COURSES</h1>
 <fieldset style="width:270px;">
 <form action="/addCourse" method="post">
  <label>Course ID</label><br>
  <input type="number" name="course id"><br>
   <label>Course Name</label><br>
  <input type="text" name="course name"><br>
   <label>Course Price</label><br>
  <input type="number" name="course price"><br><br>
  <input type="submit" value="CreateCourse">
 
 
 
 
 </form>
 </fieldset>
</body>
</html>