<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Lessons</title>
<style>
  h1
  {
      color:red;
      
  }
  body
  {
     background-color:yellow;
  
  }

form
{
 
 margin-left:40%
 

}


</style>

</head>
<body>
<h1 style="text-align:center;">Get Access to Lessons here</h1>
<fieldset>
<form action="/goToLesson" method="post">
<label>Lesson Id</label><br>
<input type="number" name="lessonId"><br><br>
<input type="submit" value="Get Lesson">
</form>
</fieldset>
</body>
</html>