<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome Home</title>
<style >
header,footer
{
    height:75px;
    width:99%;
    background-color:silver;
    border:10px thin black;

}


h1,form
{
   text-align:center;
}
marquee
{
  color:green;
  size:landscape;
  font:xx-large;
  

}
footer
{
    height:80px;
    width:99%;
    background-color:navy;
    border:10px thin black;
  

}




</style>
</head>
<body>
 <header ><marquee style="font:cm;"><h2><u>India's best learning platform</u></h2></marquee></header>

 <div style="font-family:fantasy;">
 <form action="/register">
 <h1>Welcome To <span style="color:olive;">LearnSphere</span></h1>
  <input style="background-color:yellow;" type="submit" value="START CODING">
 </form><br>
  </div><br>
 <label><h3>About us</h3></label>
<p>
LearnSphere is an edu-tech start up whose mission has been to ensure to make Talent and Opportunities meet and we achieve this through our Software applications and our In-House skill development training program which is a class room based training with placement opportunities.
We are an ISO 29990:2010 and ISO 9001:2015 certified company for our quality service in informal education for technical graduates.A company that is building amazing platform for knowledge and job seekers with various applications which would not only enhance a technical graduate to find opportunities but also be able to test their ability, learn, prepare in areas where they would like to up skill and find opportunities.</p><br><br><br>
 
  <footer></footer>

</body>
</html>