<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>WEB PAGE</title>
<style>
 h1,Login
 {
    text-align:center;
    color:blue;
 
 }
 fieldset
 {
    border:5px solid grey;
    margin-left:42%;
    margin-right:50%;
    width:200px;
    height:200px;
 }
 form
 {
   background-color:yellow;
 }

</style>
</head>
<body>
  <h1>Login</h1>
  <fieldset >
   <form action="/validate" method="post">
      <label>Email </label><br>
      <input type="text" name="Email"><br>
       <label>password </label><br>
        <input type="password" name="password"><br><br>
        
        <input type="submit" value="Login" ><br>
        
        <h4>Dont have an account ? </h4><a href="/register" style="color:black;">register here</a>
      
   
   
   
   </form>
  
  
  </fieldset>
</body>
</html>