<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
h1, fieldset {
	text-align: center;
}

fieldset {
	margin-left: 37%;
}
</style>

</head>
<body>
	<h1 style="background-color: yellow;">Welcome To LearnSphere
		Students</h1>
	<fieldset style="width: 270px;">
		<a href="/showCourses">
			<button style="background-color: aqua;">Buy Courses</button>
		</a><br>
		<br> <a href="/myCourses">
			<button style="background-color: silver;">My Courses</button>
		</a>
	</fieldset>
</body>
</html>