<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Trainer page</title>
<style>
h1
{
   text-align:center;
}
fieldset
{
  margin-left:38%;
}
body
{
  background-color:orange;
}


</style>
</head>
<body>
<h1 style="background-color:lime;">Welcome Home Trainers </h1>
<fieldset style="width:250px;">
<legend>Trainers</legend>
<a href="cCourse">ADD NEW COURSE</a><br><br>
<a href="aLesson">ADD NEW LESSON</a><br><br>
<a href="/showCourses">VIEW COURSES</a>





</fieldset>

</body>
</html>