<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login page</title>
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<div class="main_div">
<div class= "intro" id="1">
  <h1>kodbook</h1>
   <p>Hi,Welcome to #1 Social Media App</p>
</div>
<div class= "form" id="2">

 <form action="/validate" method ="post">
 <input type="text" placeholder="Enter username or Email" name="email" required>
 <br><br>
  <input type="password" placeholder="Enter  password" name="password" required>
 <br><br>
 <input type="submit" value="SUBMIT">
 <br><br>
 <a href="">Forgotten password?</a>
 <hr>
 <a>New User ?</a>
 <a href="/register"> Register here</a>
 
 

 </form>

</div>
</div>


 
 
</body>
</html>