<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" th:href="@{/register.css}">
</head>
<body>
    <div class="container">
        <h3><u>Please Enter Your Details For Registration</u></h3>
        
        <form action="/adduser" method="post">
            <input type="text" name="username" placeholder="username" required>
            <br><br>
            
            <input type="password" name="password" placeholder="password" required>
            <br><br>
            
            <input type="text" name="email" placeholder="email" required>
            <br><br>
            
            <label>Gender:</label>
            <label>M<input type="radio" name="gender" value="male"></label>
            <label>F<input type="radio" name="gender" value="female"></label>
            <label>O<input type="radio" name="gender" value="others"></label>
            <br><br>
            
            <label>Dob:</label>
            <input type="date" name="dob">
            <br><br>
            
            <input type="submit" value="SUBMIT">
            <br><br>
            <a style="color:blue;">Already User?</a>
            <a href="/" style="color:blue;">Sign In</a>
        </form>
    </div>
</body>
</html>
