<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
     <h3><u>Please Enter Your Details For Registration</u></h3>
     
     <form action="/adduser" method="post">
     <label>Enter Username:</label>
     <input type="text" name="username" required>
     <br><br>
     
     <label>Enter Password:</label>
     <input type="text" name="password" required>
     <br><br>
     
     <label>Enter Email:</label>
     <input type="text" name="email" required>
     <br><br>
     
     <label>Gender:</label>
    <label>M<input type="radio" name="gender" value="male" ></label>
    <label>F<input type="radio" name="gender" value="female" ></label>
    <label>O<input type="radio" name="gender" value="others"></label>
     <br><br>
     
     <label>Dob:</label>
     <input type="date" name="dob">
     <br><br>
     
     <input type="submit" value="SUBMIT">
     <br><br>
     <a>Already User ?</a>
     <a href="/">Sign In</a>
     
     
     
     </form>
</body>
</html>