<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Adding student</title>
<style>
   form,h1
   {
     background-color:yellow;
     border:grey;
     margin-top:5%;
     margin-left:25%;
     margin-right:35%;
     
   
   }

</style>

</head>
<body>
      <h1><u>ADDING STUDENT DETAILS</u></h1>
      
  <form action="/add stud" method="post">
     <label>kodId </label><br>
     <input type="text" name="kodId"><br><br>
     
      <label>name </label><br>
     <input type="text" name="name"><br><br>
     
      <label>branch </label><br>
     <input type="text" name="branch"><br><br>
     
     <input type="submit" value="ADD STUDENT">
  
  
  
  </form>
</body>
</html>