<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
<style>
   header,nav,a
   {
      height:100px;
      width:99%;
      border:5px solid grey;
      background-color:yellow;
      margin-left:5;
      
      }

</style>
<style>
 
    h1{text-align:center ;}
    nav{text-align:center;}
    form{text-align:center;}
    
</style>
</head>
<body>
   <header>
     <h1 >Welcome To Student Management System</h1>
   </header>
   <nav >
     <a href="/viewI"><h1>viewInfo</h1></a>
   </nav>
  
   <a href="/viewI">VIEWSTUDENT</a>
   <a href="/add">ADDSTUDENT</a>
   <a href="/upd">UPDATESTUDENT</a>
   <a href="viewI">DELETESTUDENT</a>
   
      
   
   
   </form>  
</body>
</html>