<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>update page</title>
 

</head>
<body>
     <h1><u>UPDATE STUDENT DETAILS</u></h1>
      
  <form action="/upd stud" method="post">
   <input type="hidden" name="_method" value="put">
     <label>kodId </label><br>
     <input type="text" name="kodId"><br><br>
     
      <label>name </label><br>
     <input type="text" name="name"><br><br>
     
      <label>branch </label><br>
     <input type="text" name="branch"><br><br>
     
     <input type="submit" value="UPDATE STUDENT">
  
  
  
  </form>
</body>
</html>