<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
   header,nav,form
   {
      height:75px;
      width:99%;
      border:10px solid grey;
      background-color:yellow;
      margin-left:5;
      
      }

</style>
<style>
 
   
    form{text-align:center;}
    
</style>
</head>
<body>
  <form action="/getStud">
   <label>ENTER STUDENT ID : </label>
   <input type="text" name="kodId"><br><br>
   <input type="submit" value="fetch details">


</form>
</body>
</html>